*.pyc
*.pyo
*.swp
*.html
*.class
*.orig
*.rej
*.db
*.log
*~
__pycache__

build
dist
htmlcov/
docs/_build/
docs/html/
.coverage
*.egg-info
.venv
.cache
.python-version
.tox
.vscode
.idea
.eggs/
.version
.*_cache
.tmp/
coverage.xml