[[source]]
url = "https://pypi.org/experimentum"
verify_ssl = true
name = "pypi"

[packages]
termcolor = "*"
tabulate = "*"
inflection = "*"
six = "*"
psutil = "*"
SQLAlchemy = ">=1.2.0"
colorama = "*"
matplotlib = "*"
flask = ">=1.0.0"

[dev-packages]
sphinx = "*"
"sphinxcontrib.napoleon" = "*"
sphinx-rtd-theme = "*"
tox = "*"

